<div class="row">
    <div class="col-6">
        <app-dona
            [Title] = "'Ventas'"
            [Labels] = "etiqueta1"
            [Data] = "datos1"
        ></app-dona>
    </div>
    <div class="col-6">
        <app-dona
        [Title] = "'Compras'"
        [Labels] = "etiqueta1"
        [Data] = "datos2"
        ></app-dona>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <app-dona
            [Title] = "'Servicios'"
            [Labels] = "etiqueta1"
            [Data] = "datos1"
        ></app-dona>
    </div>
    <div class="col-6">
        <app-dona
            [Title] = "'Suportes'"
            [Labels] = "etiqueta1"
            [Data] = "datos2"
        ></app-dona>
    </div>
</div>